﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="index.html" method="post">
        <h3 class="form-title font-green">SİSTEM GİRİŞİ</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> Kullanıcı adını ve parolayı giriniz. </span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Kullanıcı Adı</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="kullanıcı adı" name="kullanıcı adı" />
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Parola</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="parola" name="parola" />
        </div>
        <div class="form-actions">
            <button type="submit" class="btn green uppercase">Giriş</button>
            <label class="rememberme check">
                <input type="checkbox" name="remember" value="1" />Beni hatırla
            </label>
            <a href="javascript:;" id="forget-password" class="forget-password">Şifremi Unuttum?</a>
        </div>
    </form>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form" action="index.html" method="post">
        <h3 class="font-green">Şifremi unuttum?</h3>
        <p> Parolanızı sıfırlamak için email adresini girin. </p>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn btn-default">Geri</button>
            <button type="submit" class="btn btn-success uppercase pull-right">Gönder</button>
        </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->
    <!-- BEGIN REGISTRATION FORM -->
    <!-- END REGISTRATION FORM -->
</div>

